h1,
h2,
h3 {
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/*^^^ Taken from: https://www.w3schools.com/howto/howto_css_image_center.asp ^^^*/

.cover_photo {
    height: 430px;
    width: auto;
}